/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
}
h1{
	text-align:center;
}
.book-library{
	width:70%;
	margin:40px auto;
	padding:20px;
	background-color: #ffffff;
}
.book {
    padding-bottom:20px;
	margin-bottom:40px;
	border-bottom:1px solid #e0e0e0;
}
.author{
	color:#777777;
}
.price{
	font-weight:bold;
	padding:10px;
	background-color:#2ecc71;
	color:white;
	text-align:center;
	border-radius:4px;
}