/*  your css code here. If applicable */
body{
	background-color:#f8f8f8;
	font-family:Arial, sans-serif;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
    font-weight: 400;
}
.book-library{
	width:70%;
	margin:40px auto;
	padding:20px;
	background-color:#ffffff;
}
.book-library h1{
	text-align:center;
	margin-bottom:30px;
}
.book {
    padding-bottom:20px;
	margin-bottom:40px;
	border-bottom:1px solid #e0e0e0;
}
.book img{
	display:block;
	margin:0 auto 15px;
	width:200px;
	height:300px;
	object-fit:cover;
}
.book h3{
	margin:5px 0;
	font-size:18px;
	font-weight:700;
}
.author{
	color:#777777;
	margin:5px 0 15px 0;
}
.price{
	font-weight:bold;
	padding:10px;
	background-color:#2ecc71;
	color:white;
	text-align:center;
	border-radius:4px;
}