body{
  background-color:#f8f8f8;
}
.book-library{
  background-color:#ffffff;
  width:70%;
  margin:40px auto;
  padding:20px;
}
.book{
  margin-bottom:40px;
}
.author{
  color:#777777;
}
.price{
  background-color:#2ecc71;
  color:#ffffff;
  padding:10px;
  text-align:center;
}
